<div class="user-profile" *ngIf="user">
  <h2 class="profile-title">Profil de {{ user.username }}</h2>

  <div class="profile-details">
    <div class="profile-field">
      <label>Nom d'utilisateur :</label>
      <span>{{ user.username }}</span>
    </div>

    <div class="profile-field">
      <label>Email :</label>
      <span>{{ user.email }}</span>
    </div>

    <div class="profile-field">
      <label>Téléphone :</label>
      <span>{{ user.phone_number || 'Non renseigné' }}</span>
    </div>

    <div class="profile-field">
      <label>Rôle :</label>
      <span>{{ user.role }}</span>
    </div>
  </div>


  <div class="profile-actions">
    <button class="btn-primary" (click)="goBack()">Retour</button>
  </div>
</div>

<!-- Formulaire de modification -->
<div class="user-profile-form" *ngIf="user">
  <h3>Modifier mon profil</h3>
  <form (ngSubmit)="updateProfile(applyForm)">
    <label>
      Email :
      <input type="email" [(ngModel)]="user.email" name="email" required />
    </label>

    <label>
      Téléphone :
      <input type="text" [(ngModel)]="user.phone_number" name="phone_number" />
    </label>

    <button type="submit" class="btn-success">Enregistrer</button>
    <button type="button" class="btn-cancel" >Annuler</button>
  </form>
</div>

<div *ngIf="error" class="error">{{ error }}</div>
<div *ngIf="!user && !error">Chargement...</div>
